/* Global Section */

body {
  font-family: "DM Sans", sans-serif;
  font-size: 0.8rem;
  padding: 30px;
}

#header {
  display: flex;
  justify-content: center;
}

.header-img {
  width: 300px;
}

/* Search Bar Section */
#search {
  width: 100%;
  font-size: 1rem;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  height: 50px;
}

#search::placeholder {
  padding-left: 15px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}
.fa-magnifying-glass {
  position: relative;
  right: 30px;
  font-size: 1.2rem;
}

/* Filter Section */

.filter-section {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.filter-form {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.btn {
  padding: 1rem 0.9rem;
}

.dropdown > .btn {
  font-size: 1rem;
}

.btn-ingredients {
  background-color: #3182f0;
  border-color: #3182f0;
}

.btn-appareils {
  background-color: #52d9a8;
  border-color: #52d9a8;
}

.btn-ustensiles {
  background-color: #f46359;
  border-color: #f46359;
}

.dropdown-menu.show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform: translate3d(0px, 58px, 0px) !important;
}

.dropdown-toggle::after {
  margin-left: 1.5rem;
}

.ingredients-options {
  background-color: #3182f0;
}

.appliance-options {
  background-color: #52d9a8;
}

.ustensils-options {
  background-color: #f46359;
}

.dropdown-item {
  color: #fff;
}

.choice-container {
  display: none;
}

.show-options {
  display: flex;
}

.choice-card {
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
}

.choice {
  margin-right: 5px;
}

.btn-remove {
  all: unset;
  cursor: pointer;
}

.btn-remove:focus {
  outline: rgb(5, 70, 247) 5px auto;
}

/* Cards Section */
.recipe-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.card {
  border: none;
  background-color: #d7d7d7;
  border-radius: 5px;
}

.hide {
  display: none;
}

.img-container {
  overflow: hidden;
  max-height: 150px;
  border-radius: 5px 5px 0 0;
}

.content {
  padding: 20px;
}

.top-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px;
}

.title {
  font-weight: 400;
  max-width: 250px;
  font-size: 1.2rem;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.timer i {
  font-size: 1.2rem;
}

.time {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;
}

.bottom-description {
  display: flex;
  justify-content: space-between;
}

.list-ingredient p {
  margin: 0;
}

.ingredient {
  margin: 2px;
  font-weight: bold;
}

.ingredient span {
  font-weight: 100;
}

.description {
  max-width: 200px;
}
